body {
    font-family: Helvetica Neue, sans-serif;
}

.editCat {
    width: 15px;
    height: 15px;
    display: inline-block;
    float: right;
    margin-top: 5px;
    margin-right: 2px;

}

.paletteMark {
    display: flex;
    width: fit-content;
    flex-direction: column;
}

.paletteMark canvas {
    border: #555555 solid 1px;
    margin: 1px;
    border-radius: 3px;
    height: 60px;
    cursor: pointer;
}

.paletteNumber {
    margin-bottom: 0;
}

.paletteMarks {
    position: relative;
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
    display: flex;
    /*border-bottom: solid 1px #555;*/
    padding-bottom: 10px;
}

.paletteMark canvas:hover {
    filter: saturate(35%) brightness(70%) opacity(70%);
    background-color: rgba(85, 85, 85, 0.38);
}


.paletteMarks h4 {
    width: fit-content;
    display: inline-block;
    margin-right: 1%;
    transform: translate(0, 50%);
    justify-content: center;
    align-items: center;
}

#selFlat div {
    border: #555555 solid 1px;
    margin: 1px;
    filter: saturate(35%) brightness(70%) opacity(70%);
    border-radius: 3px;
    height: 65px;
    width: 80px;
    display: inline-block;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    position: relative;
}

#selFlat div:hover {
    filter: none !important;
    border: #498db4 solid 1px !important;

}

#catProto {
    width: 65%;
    border-right: #333333 1px solid;
    display: inline-block;

}

#catData {
    width: 30%;
    margin-left: 2%;
    display: inline-block;
    position: absolute;
}

#selFlatLabel {
    font-weight: bold;
    color: #333;
    text-decoration: underline;
    margin-bottom: 0;
    position: sticky;
    top: 0;
    left: 1%;
}

.selectedIm {
    border: red solid 1px !important;
    filter: none !important;
}

#selFlat {
    height: 100%;
    width: 81%;
    display: block;
    /*overflow-x: scroll;*/
    overflow-y: hidden;
    white-space: nowrap;
    margin-left: 9px;
}


#markMod {
    /*touch-action: none;*/
    user-select: none;

}

canvas {
    touch-action: none;
    user-select: none;
    /*display: none !important;*/
    /*position: absolute;*/

}

.modalSideButtons {
    width: 30px;
    position: absolute;
    top: 5px;
    display: inline-block;

}

.modalSideButtons img {
    width: 20px;
    /*height: 24px;*/
    padding: 5px;
    display: inline-block;
}

.modalSideButtons img:hover {
    border: solid rgba(10, 10, 10, 0.6) thin;
    cursor: pointer;
    padding: 4px;
}


#marks {
    /*height: 100%;/*/

    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    position: relative;
    height: 100px;
}


#marks canvas {
    border: solid rgba(65, 65, 65, 0.5) 2px;
    margin: 1px;
}

#marks canvas:hover {
    cursor: pointer;
}

#svgDisplay image {
    /*cursor: pointer;*/
}

#closeMod:hover {
    border: solid rgba(10, 10, 10, 0.6) thin;
    cursor: pointer;
}

#closeCatMod:hover {
    border: solid rgba(10, 10, 10, 0.6) thin;
    cursor: pointer;
}

.modal {
    outline: none;
    width: 75%;
    border: solid rgba(10, 10, 10, 0.6) 2px;
    height: 60%;
    position: relative;
}

.catColor {
    width: 10px;
    height: 10px;
    display: inline-block;
    margin-left: 3px;
}

.markFilter {
    display: inline-block;
    padding: 5px;
    margin: 10px;
}

.modalInfoShare {
    width: 18px;
    height: 18px;
    display: inline-block;
}

.modalCatDel {
    width: 18px;
    height: 18px;
    display: inline-block;
    margin-right: 5px;
    border: solid rgba(30, 30, 30, 0.6) 1px;
    padding: 2px;
}


.markFilter:hover {

    padding: 3px;
    margin: 10px;
    border: solid rgba(10, 10, 10, 0.6) 2px;
    cursor: pointer;
}

.modalInfo {
    padding: 12px;
    border-bottom: solid rgba(10, 10, 10, 0.6) thin
}

.modalInfo:hover {
    cursor: pointer;
    border: solid rgba(10, 10, 10, 0.6) thin;
    padding: 11px;
}

#selectedModalInfo {
    border: solid rgb(223, 38, 38) thin;
    padding: 11px;
}

#modalAddData {
    width: 25px;
    height: 25px;
    margin-left: 50%;
    margin-top: 10px;

}

#modalAddCat {
    width: 25px;
    height: 25px;
    margin-left: 20px;
    cursor: pointer;
}

#modalAddData:hover {

    cursor: pointer;
    /*width: 27px;*/
    /*height: 27px;*/
}

.category p {
    display: inline-block;
    margin-right: 10px;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.category {
    display: inline-block;
    padding: 5px;
    height: 25px;
    cursor: pointer;
    width: 100%;
    text-align: left;
}

.category:hover {
    border: solid rgba(65, 65, 65, 0.5) thin;
    padding: 3px;
}

.lightBorder {
    border: solid rgba(65, 65, 65, 0.5) thin;
}

.buttonImg {
    width: 32px;
    display: inline-block;
}

.buttonImg img {
    width: 32px;
    display: inline-block;
    padding: 1px;
}


#selectModBut {
    border: solid rgb(223, 38, 38) 2px;
}

#selectedButton {

    z-index: 99;
    border: solid rgb(223, 38, 38) 2px;
    padding: 3px;
}

#selectedButton2 img {
    z-index: 99;
    border: solid rgb(223, 38, 38) 2px;
    padding: 1px;
    /*padding: 3px;*/
}

#selectedButton3 img {
    z-index: 99;
    border: solid rgb(223, 38, 38) 2px;
    padding: 1px;
    /*padding: 3px;*/
}

#selectedCat {
    border: solid rgb(223, 38, 38) 2px;
    padding: 0px;

}

.buttonImg img:hover {
    width: 32px;
    display: inline-block;
    opacity: 0.6;
    cursor: pointer;
    border: solid rgba(10, 10, 10, 1) 2px;
    padding: 0px;

}

#inVis {
    width: 100%;
    cursor: crosshair;
    touch-action: none;
}

#markInfos {
    width: 25%;
    height: 48%;
    position: absolute;
    display: inline-block;
    overflow-y: auto;
}

#markCategories {
    width: 25%;
    bottom: 0;
    border-top: #333333 solid 1px;
    height: 48%;
    position: absolute;
    display: inline-block;
    overflow-y: auto;
}


.primitiveData {
    display: inline-block;
    margin-right: 10px;
    margin-top: 10px;
}

.primitiveLabel {
    margin-bottom: 0;
    font-weight: 700;
}

.collageListDisplay p {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 1rem;

}

.collageListDisplay {
    border-bottom: #555 solid 1px;
    margin-bottom: 15px;
}

.rotate {
    transform-box: fill-box;
    transform-origin: center;
}


#paletteContainer {
    padding: 20px;
    border: solid #555 thin;
    position: relative;
    width: min-content;
    padding-right: 70px;

}

#closePaletteContainer {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 1px;
    right: 1px;
    cursor: pointer;
}

#closePaletteContainer:hover {
    width: 23px;
    height: 23px;
}

.primitiveDataButton {
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-bottom: -5px;
}

.currAnchor, #plusAnchor {
    width: 35px;
    height: 35px;
    border: #333333 solid 1px;
    text-align: center;
    display: inline-block;
    border-radius: 20%;
    margin: 2px;
    cursor: pointer;
}

.selectedAnchor {
    border: red solid 1px;
}

.selectedAnchorBtn img {
    border: red solid 1px;
    /*height: fit-content;*/
}

table th {
    position: sticky;
    top: 0;
    z-index: 1;
    background: #F1F1F1;
}

#datatable td {
    padding: 6px 9px;
    text-align: center;
}

#newDataTable div {
    display: inline-block;
}


#newDataTable div p {
    font-weight: 700;
    margin-bottom: 0;
    margin-right: 23px;
}

#newDataTable div input[type="text"] {
    width: 75px;
}


.waypointTitle {
    font-weight: 600;
    text-align: left;
    margin-left: 29px;
    color: #333;
    border-radius: 0 !important;
    border: none !important;
    border-color: #333;
    border-bottom: 1px solid !important;;
    /*padding: 5px 10px !important;*/
    padding: 5px 2px !important;
    outline: none !important;
    width: 15%;
    font-size: 20pt;
    margin-right: 10px;
    margin-top: 14px;
}

#sampledMarks canvas {
    max-height: 110px;
    margin-right: 2px;
    border: 1px solid #777;
    border-radius: 4px;
}

#sampledMarks {
    overflow-x: auto;
    display: flex;
    padding: 2px;
}

.scaleMarks {
    width: 120px;
}


.paletteMarkName {
    font-weight: 500;
    text-align: center;

    color: #333;
    border-radius: 0 !important;
    border: none !important;
    border-color: #333;
    border-bottom: 1px solid !important;;
    /*padding: 5px 10px !important;*/
    padding: 5px 2px !important;
    outline: none !important;
    width: 52px;
    font-size: 9pt;

    line-height: 13px;
    height: 13px !important;

    display: inline-block;
    margin-bottom: 3px;
    margin-left: 6px;
}

#AllPaletteCont canvas {

    border: 1px solid #555;

    border-radius: 4px;
}

/*#chartSettings*/
#fakeGrammar {
    width: 100%;
}

#fakePreview {
    width: 60%;
    height: 500px;
}

#fakePreviewSvg {
    width: 100%;
    border: solid #555 1px;
    border-radius: 14px;
    height: 100%;
}

.fakeGrammarRow {
    display: flex;
    width: 100%;
    flex-wrap: wrap;

}


/* ---------------- TREE STUFF -----------------------*/

.tree {
    --spacing: 4rem;
    --radius: 5px;
    width: 90%;
    margin-left: -50px;
}


.tree li {
    display: block;
    position: relative;
    padding-left: calc(2 * var(--spacing) - var(--radius) - 2px);
    /*width: 100%;*/
}

.tree ul {
    margin-left: calc(var(--radius) - var(--spacing));
    padding-left: 0;
}


.tree ul li {
    border-left: 2px solid #ddd;
}

.tree ul li:last-child {
    border-color: transparent;
}


.tree ul li::before {
    content: '';
    display: block;
    position: absolute;
    top: calc(var(--spacing) / -1);
    left: -2px;
    width: calc(var(--spacing) + 30px);
    height: calc(var(--spacing) + 24px);
    border: solid #ddd;
    border-width: 0 0 2px 2px;
}

.tree summary {
    display: block;
    cursor: pointer;
}

.tree summary::marker,
.tree summary::-webkit-details-marker {
    display: none;
}

.tree summary:focus {
    outline: none;
}

.tree summary:focus-visible {
    outline: 1px dotted #000;
}

.tree li summary::after {
    display: none;
}

/*.tree li::after {
    content: '';
    display: block;
    position: absolute;
    top: calc(var(--spacing) / 2 - var(--radius) + 4px);
    left: calc(var(--spacing) - var(--radius) + 29px);
    width: calc(2 * var(--radius));
    height: calc(2 * var(--radius));
    border-radius: 50%;
    background: #ddd;
}*/

.tree summary::before {
    content: '';
    display: block;
    position: absolute;
    top: 9px;
    /*top: calc(var(--spacing) / 2 - var(--radius)+ (-4px));*/
    left: calc(var(--spacing) - var(--radius) + (-1px));
    width: calc(2 * var(--radius));
    height: calc(2 * var(--radius));
    border-radius: 50%;
    background: #ddd;
}

li .fakeGrammarRow {
    /*margin-left: -2rem;*/
    /*margin-top: 5px ;*/
}

.fakeGrammarRow p {
    margin-top: 9px;
    margin-right: 6px;
}

.fakeGrammarRow select {
    margin-top: 5px;
    margin-right: 6px;
}

.fakeGrammarTitleMark {
    position: absolute;
    font-weight: 600;
    top: -27px;
    left: 85px;
}

.fakeGrammarTitleData {
    position: absolute;
    font-weight: 600;
    top: -27px;
    left: 240px;
}


.colorRampCan {
    border: 1px solid #777;
    border-radius: 4px;
    width: 190px;
    height: 15px;
    margin-left: 35px;
}

.colorRamp {
    display: flex

}

.colorRamp div {
    width: 25px;
}

.colorRamp p {
    display: flex;
    margin-bottom: -11px ;
}
.colorRamp span {
    width: 15px;
    height: 15px;
    border: 1px solid #777;
    border-radius: 4px;
    display: block;
}

.rampLabel {
    position: absolute;
    top: 27px;
}